@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Regular.woff2") format("woff2"), url("fonts/Gilroy-Regular.woff") format("woff"), url("fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Bold.woff2") format("woff2"), url("fonts/Gilroy-Bold.woff") format("woff"), url("fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Semibold.woff2") format("woff2"), url("fonts/Gilroy-Semibold.woff") format("woff"), url("fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Medium.woff2") format("woff2"), url("fonts/Gilroy-Medium.woff") format("woff"), url("fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"), url("fonts/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-RegularItalic.woff2") format("woff2"), url("fonts/Gilroy-RegularItalic.woff") format("woff"), url("fonts/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
._container {
  font-family: Gilroy, sans-serif;
}

.nav {
  border: 1px solid #121212;
}
.nav__container {
  display: flex;
  justify-content: space-between;
}
.nav__left-side {
  flex: 0 0 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1450px) {
  .nav__left-side {
    flex: none;
    display: block;
  }
}
.nav__left-side-icon {
  display: block;
  padding: 22px 19px;
  width: 56px;
  height: 56px;
  border-right: 1px solid #121212;
}
@media (max-width: 768px) {
  .nav__left-side-icon {
    width: 48px;
    height: 48px;
    padding: 18px 15px;
  }
}
.nav__shop {
  flex: 0 1 50%;
  padding: 32px 0;
  text-align: center;
  border-right: 1px solid #121212;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
.nav__contact {
  flex: 0 1 50%;
  padding: 32px 0;
  text-align: center;
  border-right: 1px solid #121212;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
.nav__right-side {
  flex: 0 0 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1450px) {
  .nav__right-side {
    flex: none;
    display: block;
  }
}
.nav__right-side-icon {
  flex: none;
  display: block;
  width: 56px;
  height: 56px;
  padding: 16px;
  border-left: 1px solid #121212;
}
@media (max-width: 768px) {
  .nav__right-side-icon {
    width: 48px;
    height: 48px;
    padding: 12px;
  }
}
.nav__sign-in {
  flex: 0 1 50%;
  width: 100%;
  text-align: center;
  padding: 32px 0;
  border-left: 1px solid #121212;
  border-right: 1px solid #121212;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
.nav__cart {
  flex: 0 1 50%;
  width: 100%;
  text-align: center;
  padding: 32px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.menu {
  display: none;
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  background-color: #fff;
  border: 1px solid #121212;
}
@media (max-width: 768px) {
  .menu {
    width: 100%;
  }
}
.menu__close {
  border-bottom: 1px solid #121212;
}
.menu__close-button {
  margin: 12px 16px;
}
@media (max-width: 768px) {
  .menu__close-button {
    margin: 8px 14px;
  }
}
.menu__sign-in {
  padding: 24px;
  border-bottom: 1px solid #121212;
}
.menu__sign-in-button a {
  color: #000000;
  font-size: 21px;
  line-height: 120%;
  font-weight: 500;
}
@media (max-width: 768px) {
  .menu__sign-in-button a {
    font-size: 18px;
  }
}
.menu__shop {
  padding: 24px;
  border-bottom: 1px solid #121212;
}
.menu__shop-button a {
  color: #000000;
  font-size: 21px;
  line-height: 120%;
  font-weight: 500;
}
@media (max-width: 768px) {
  .menu__shop-button a {
    font-size: 18px;
  }
}
.menu__service {
  padding: 24px;
  border-bottom: 1px solid #121212;
}
.menu__service-button a {
  color: #000000;
  font-size: 21px;
  line-height: 120%;
  font-weight: 500;
}
@media (max-width: 768px) {
  .menu__service-button a {
    font-size: 18px;
  }
}
.menu__contact {
  padding: 24px;
  border-bottom: 1px solid #121212;
}
.menu__contact-button a {
  color: #000000;
  font-size: 21px;
  line-height: 120%;
  font-weight: 500;
}
@media (max-width: 768px) {
  .menu__contact-button a {
    font-size: 18px;
  }
}
.menu__about {
  padding: 24px;
  border-bottom: 1px solid #121212;
}
.menu__about-button a {
  color: #000000;
  font-size: 21px;
  line-height: 120%;
  font-weight: 500;
}
@media (max-width: 768px) {
  .menu__about-button a {
    font-size: 18px;
  }
}
.menu__other {
  padding: 24px;
  border-bottom: 1px solid #121212;
}
.menu__other-shipping a {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 768px) {
  .menu__other-shipping a {
    font-size: 14px;
  }
}
.menu__other-terms a {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 768px) {
  .menu__other-terms a {
    font-size: 14px;
  }
}
.menu__other-privacy a {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 768px) {
  .menu__other-privacy a {
    font-size: 14px;
  }
}
.menu__other > :not(:last-child) {
  padding-bottom: 16px;
}
.menu__socials {
  padding: 24px;
}
.menu__socials-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #121212;
}
@media (max-width: 768px) {
  .cart {
    width: 100%;
  }
}
.cart__top {
  padding: 15.5px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #121212;
}
@media (max-width: 768px) {
  .cart__top {
    padding: 11.5px 40px;
  }
}
.cart__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.cart__close img {
  width: 24px;
  height: auto;
}
.cart__list {
  border-bottom: 1px solid #121212;
}
.cart__item {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 990px) and (min-width: 768px) {
  .cart__item {
    align-items: flex-end;
  }
}
@media (max-width: 550px) {
  .cart__item {
    padding: 24px 16px;
    align-items: flex-end;
  }
}
.cart__item-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 990px) and (min-width: 768px) {
  .cart__item-info {
    align-items: flex-start;
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .cart__item-info {
    align-items: flex-start;
    flex-direction: column;
  }
}
.cart__item-info-image {
  margin-right: 16px;
}
@media (max-width: 990px) and (min-width: 768px) {
  .cart__item-info-image {
    margin-bottom: 16px;
  }
}
@media (max-width: 550px) {
  .cart__item-info-image {
    margin-bottom: 16px;
  }
}
.cart__item-info-image img {
  border: 1px solid #121212;
}
.cart__item-info-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 8px;
}
.cart__item-info-count {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 8px;
}
.cart__item-info-cost {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}
.cart__item-remove {
  color: #808080;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
}
.cart__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  border-bottom: 1px solid #121212;
}
@media (max-width: 550px) {
  .cart__total {
    padding: 24px 16px;
  }
}
.cart__total-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}
.cart__total-money {
  font-size: 21px;
  font-weight: 500;
  line-height: 120%;
}
.cart__message {
  border-bottom: 1px solid #121212;
}
.cart__message-container {
  padding: 40px;
}
@media (max-width: 550px) {
  .cart__message-container {
    padding: 24px 16px;
  }
}
.cart__message-input textarea {
  height: 120px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
@media (max-width: 550px) {
  .cart__message-input textarea {
    height: 100px;
  }
}
.cart__text {
  padding: 40px;
  border-bottom: 1px solid #121212;
}
.cart__text p {
  text-align: center;
  font-size: 14px;
  line-height: 120%;
  font-weight: 400;
}
.cart__button button {
  width: 100%;
  height: 56px;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}

.main__row {
  display: flex;
}
@media (max-width: 1450px) {
  .main__row {
    display: block;
  }
}
.main__about {
  flex: 0 0 50%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #121212;
  border-top: none;
}
@media (max-width: 768px) {
  .main__about {
    padding: 40px 16px;
  }
}
.main__about-name {
  flex: 0 0 50%;
  border-bottom: 1px solid #121212;
}
.main__about-title {
  font-size: 67px;
  font-weight: 600;
  line-height: 120%;
  margin: 0 0 16px 0;
}
@media (max-width: 768px) {
  .main__about-title {
    font-size: 40px;
  }
}
.main__about-description {
  font-size: 18px;
  line-height: 140%;
  font-weight: 300;
  padding: 0 0 54px 0;
}
@media (max-width: 768px) {
  .main__about-description {
    padding: 0 0 24px 0;
  }
}
.main__about-caption {
  flex: 0 0 50%;
  display: flex;
  align-items: flex-end;
}
.main__about-img {
  flex: 0 0 50%;
  padding-right: 24px;
  margin-top: 24px;
  border-right: 1px solid #121212;
}
.main__about-img img {
  width: 100%;
  height: auto;
}
.main__about-text {
  flex: 0 0 50%;
  margin-left: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}
@media (max-width: 768px) {
  .main__about-text {
    font-size: 11px;
    margin-left: 16px;
  }
}
.main__show {
  flex: 0 0 50%;
}
.main__show-blocks {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .main__show-blocks {
    border-left: 1px solid #121212;
  }
}
.main__show-text {
  flex: 0 0 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-right: 1px solid #121212;
  border-bottom: 1px solid #121212;
}
.main__show-text-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 768px) {
  .main__show-text-title {
    font-size: 26px;
  }
}
.main__show-text-button {
  position: absolute;
  bottom: 0;
}
.main__show-text-button button {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  margin: 0 0 24px 0;
}
@media (max-width: 768px) {
  .main__show-text-button button {
    font-size: 14px;
    margin: 0 0 12px 0;
  }
}
.main__show-text-button button img {
  padding: 0 4px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .main__show-text-button button img {
    width: 24px;
    height: auto;
  }
}
.main__show-image {
  flex: 0 0 50%;
  border-right: 1px solid #121212;
  border-bottom: 1px solid #121212;
}
.main__show-image img {
  width: 100%;
}
.main__empty {
  flex: 0 1 50%;
  border: 1px solid #121212;
  border-top: none;
}
@media (max-width: 768px) {
  .main__empty {
    border: none;
  }
}

.about {
  border: 1px solid #121212;
  border-top: none;
}
.about__container {
  display: flex;
}
@media (max-width: 1450px) {
  .about__container {
    display: block;
  }
}
.about__title {
  flex: 0 0 50%;
  padding: 80px 80px;
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
  border-right: 1px solid #121212;
}
@media (max-width: 1450px) {
  .about__title {
    border-bottom: 1px solid #121212;
  }
}
@media (max-width: 768px) {
  .about__title {
    padding: 40px 16px;
    font-size: 34px;
    border-right: none;
  }
}
.about__description {
  flex: 0 0 50%;
  padding: 80px;
}
@media (max-width: 768px) {
  .about__description {
    padding: 40px 16px;
  }
}
.about__description-tip {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .about__description-tip {
    font-size: 12px;
  }
}
.about__description-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .about__description-title {
    font-size: 26px;
  }
}
.about__description-text {
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  margin-bottom: 64px;
}
.about__description-button button {
  background-color: #fff;
  width: 175px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #121212;
}
@media (max-width: 768px) {
  .about__description-button button {
    width: 100%;
  }
}

.why-us__container {
  display: flex;
  border: 1px solid #121212;
  border-top: none;
}
@media (max-width: 1450px) {
  .why-us__container {
    display: block;
  }
}
.why-us__title {
  flex: 1 1 50%;
  border-right: 1px solid #121212;
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
  padding: 80px 80px;
}
@media (max-width: 1450px) {
  .why-us__title {
    border-bottom: 1px solid #121212;
  }
}
@media (max-width: 768px) {
  .why-us__title {
    padding: 40px 16px;
    font-size: 34px;
    border-right: none;
  }
}
.why-us__advantages {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}
.why-us__item {
  flex: 1 1 25%;
  padding: 80px;
  border-bottom: 1px solid #121212;
}
@media (max-width: 768px) {
  .why-us__item {
    padding: 40px 16px;
  }
}
.why-us__item-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 768px) {
  .why-us__item-title {
    font-size: 26px;
    margin-bottom: 16px;
  }
}
.why-us__item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.why-us__last-item {
  border-bottom: none;
}

.contact__container {
  display: flex;
  border: 1px solid #121212;
  border-top: none;
}
@media (max-width: 1450px) {
  .contact__container {
    flex-direction: column-reverse;
  }
}
.contact__info {
  flex: 1 1 50%;
  border-right: 1px solid #121212;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .contact__info {
    border-right: none;
  }
}
.contact__form {
  flex: 1 1 50%;
  padding: 80px 0 100px 80px;
}
@media (max-width: 1450px) {
  .contact__form {
    padding: 80px;
  }
}
@media (max-width: 768px) {
  .contact__form {
    padding: 40px 16px;
  }
}
.contact__form-title {
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .contact__form-title {
    font-size: 34px;
  }
}
.contact__form-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 16px;
}
.contact__form-phone {
  display: inline-block;
  margin: 0 16px 0 0;
}
@media (max-width: 768px) {
  .contact__form-phone {
    display: block;
    margin: 0 0 16px 0;
  }
}
.contact__form-phone input {
  width: 250px;
  height: 56px;
  border: 1px solid #D2D2D7;
  font-size: 16px;
  padding: 10px;
}
@media (max-width: 768px) {
  .contact__form-phone input {
    width: 100%;
  }
}
.contact__form-button {
  display: inline-block;
}
@media (max-width: 768px) {
  .contact__form-button {
    display: block;
  }
}
.contact__form-button button {
  width: 250px;
  height: 56px;
  background-color: #000;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 768px) {
  .contact__form-button button {
    width: 100%;
  }
}
.contact__address {
  display: flex;
  border-top: 1px solid #121212;
}
@media (max-width: 768px) {
  .contact__address {
    display: block;
  }
}
.contact__address-phone {
  flex: 1 1 50%;
}
.contact__address-phone-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  padding: 16px 0;
  border-bottom: 1px solid #121212;
  border-right: 1px solid #121212;
}
@media (max-width: 768px) {
  .contact__address-phone-title {
    font-size: 26px;
    text-align: left;
    padding: 16px;
    border-right: none;
  }
}
.contact__address-phone-tels {
  padding: 100px;
  border-right: 1px solid #121212;
}
@media (max-width: 768px) {
  .contact__address-phone-tels {
    padding: 40px 16px;
    border-right: none;
  }
}
.contact__address-phone-tel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
}
@media (max-width: 768px) {
  .contact__address-phone-tel {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.contact__address-phone-tel img {
  padding: 0 5px 0 0;
}
.contact__address-phone-tel:not(:last-child) {
  margin: 0 0 24px 0;
}
.contact__address-address {
  flex: 1 1 50%;
}
.contact__address-address-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  padding: 16px 0;
  border-bottom: 1px solid #121212;
}
@media (max-width: 768px) {
  .contact__address-address-title {
    padding: 16px;
    font-size: 26px;
    text-align: left;
    border-top: 1px solid #121212;
  }
}
.contact__address-address-text {
  margin: 100px 55px;
}
@media (max-width: 768px) {
  .contact__address-address-text {
    margin: 40px 16px;
  }
}
.contact__address-address-open {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  padding: 0 0 22px 0;
  text-align: center;
}
@media (max-width: 768px) {
  .contact__address-address-open {
    text-align: left;
    padding: 0 0 16px 0;
    font-size: 12px;
  }
}
.contact__address-address-street {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__address-address-street-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  display: inline-block;
  padding: 0 4px 0 0;
}
@media (max-width: 768px) {
  .contact__address-address-street-text {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .contact__address-address-street {
    justify-content: flex-start;
  }
  .contact__address-address-street img {
    width: 24px;
  }
}
.contact__socials {
  flex: 0 1 50%;
}
@media (max-width: 1450px) {
  .contact__socials {
    border-bottom: 1px solid #121212;
  }
}
.contact__socials-img img {
  width: 100%;
}
@media (max-width: 1450px) {
  .contact__socials-img img {
    width: 100%;
    height: auto;
  }
}
.contact__socials-list {
  display: flex;
}
@media (max-width: 768px) {
  .contact__socials-list {
    display: block;
  }
}
.contact__socials-title {
  flex: 1 1 50%;
  padding: 16px 100px;
  font-size: 38px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  border-right: 1px solid #121212;
}
@media (max-width: 768px) {
  .contact__socials-title {
    padding: 16px 0 8px 16px;
    font-size: 26px;
    text-align: left;
    border-right: none;
  }
}
.contact__socials-links {
  padding: 0 40px;
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .contact__socials-links {
    width: 70%;
    padding: 0 0 16px 16px;
    justify-content: space-between;
  }
}
.service__title {
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  padding: 80px 0;
  border: 1px solid #121212;
  border-top: none;
}
@media (max-width: 768px) {
  .service__title {
    padding: 40px 16px;
    text-align: left;
    font-size: 34px;
  }
}
.service__subscriptions {
  display: flex;
  border: 1px solid #121212;
  border-top: none;
}
@media (max-width: 1450px) {
  .service__subscriptions {
    display: block;
  }
}
.service__subscriptions-img {
  flex: 0 0 50%;
  border-right: 1px solid #121212;
}
@media (max-width: 1450px) {
  .service__subscriptions-img {
    width: 100%;
    height: auto;
  }
}
.service__subscriptions-img img {
  width: 100%;
  height: auto;
}
.service__subscriptions-info {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 80px;
}
@media (max-width: 1450px) {
  .service__subscriptions-info {
    padding: 80px;
  }
}
@media (max-width: 768px) {
  .service__subscriptions-info {
    padding: 40px 16px;
  }
}
.service__subscriptions-info-tip {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}
@media (max-width: 768px) {
  .service__subscriptions-info-tip {
    font-size: 12px;
  }
}
.service__subscriptions-info-title {
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
  margin: 0 0 16px 0;
}
@media (max-width: 768px) {
  .service__subscriptions-info-title {
    font-size: 34px;
  }
}
.service__subscriptions-info-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  margin: 0 0 64px 0;
  text-align: center;
}
@media (max-width: 768px) {
  .service__subscriptions-info-text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .service__subscriptions-info-button {
    width: 100%;
  }
}
.service__subscriptions-info-button button {
  padding: 20px 24px;
  border: 1px solid #121212;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  background-color: #fff;
}
@media (max-width: 768px) {
  .service__subscriptions-info-button button {
    width: 100%;
  }
}
.service__wedding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 720px;
  background: url(../img/service/bg.png) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 0 427px;
  border: 1px solid #121212;
  border-top: none;
}
@media (max-width: 1450px) {
  .service__wedding {
    padding: 80px;
  }
}
@media (max-width: 768px) {
  .service__wedding {
    padding: 40px 16px;
    height: 420px;
  }
}
.service__wedding-tip {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  color: #ffffff;
  margin: 0 0 24px 0;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .service__wedding-tip {
    font-size: 12px;
  }
}
.service__wedding-title {
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
  color: #ffffff;
  margin: 0 0 16px 0;
}
@media (max-width: 768px) {
  .service__wedding-title {
    font-size: 34px;
    text-align: center;
  }
}
.service__wedding-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  margin: 0 0 64px 0;
}
@media (max-width: 768px) {
  .service__wedding-text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .service__wedding-button {
    width: 100%;
  }
}
.service__wedding-button button {
  padding: 20px 34px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 120%;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
}
@media (max-width: 768px) {
  .service__wedding-button button {
    font-size: 14px;
    padding: 18px 0;
    width: 100%;
  }
}

.reviews {
  border: 1px solid #121212;
  border-top: none;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .reviews {
    padding: 40px 16px;
  }
}
.reviews__tip-google {
  margin: 0 0 8px 0;
}
@media (max-width: 768px) {
  .reviews__tip-google {
    width: 77px;
    height: auto;
  }
}
.reviews__tip-text {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  margin: 0 0 24px 0;
}
@media (max-width: 768px) {
  .reviews__tip-text {
    font-size: 12px;
  }
}
.reviews__title {
  font-size: 50px;
  line-height: 120%;
  font-weight: 600;
  text-align: center;
  margin: 0 0 16px 0;
}
@media (max-width: 768px) {
  .reviews__title {
    font-size: 34px;
  }
}
.reviews__review {
  display: flex;
}
@media (max-width: 768px) {
  .reviews__review-left {
    display: none;
  }
}
.reviews__review-quote {
  padding: 0 24px;
}
@media (max-width: 768px) {
  .reviews__review-quote {
    padding: 0;
  }
}
.reviews__review-text {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  font-style: italic;
  line-height: 120%;
  margin: 0 0 16px 0;
}
@media (max-width: 768px) {
  .reviews__review-text {
    font-size: 22px;
  }
}
.reviews__review-name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  margin: 0 0 32px 0;
}
@media (max-width: 768px) {
  .reviews__review-right {
    display: none;
  }
}
.reviews__dots {
  margin: 0 0 64px 0;
}
@media (max-width: 768px) {
  .reviews__button {
    width: 100%;
  }
}
.reviews__button button {
  padding: 20px 24px;
  border: 1px solid #121212;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .reviews__button button {
    font-size: 14px;
    width: 100%;
  }
}

.footer {
  display: flex;
  border: 1px solid #121212;
  border-top: none;
}
@media (max-width: 1450px) {
  .footer {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .footer {
    display: block;
  }
}
.footer__remind {
  flex: 0 0 25%;
  padding: 40px;
  border-right: 1px solid #121212;
}
@media (max-width: 1450px) {
  .footer__remind {
    flex: 0 0 50%;
    border-bottom: 1px solid #121212;
  }
}
@media (max-width: 768px) {
  .footer__remind {
    padding: 40px 16px;
    border-right: none;
  }
}
.footer__remind-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 24px;
}
.footer__remind-form {
  display: flex;
  flex-wrap: wrap;
}
.footer__remind-input {
  margin: 0 10px 0 0;
}
@media (max-width: 768px) {
  .footer__remind-input {
    width: 100%;
    margin: 0;
  }
}
.footer__remind-input input {
  width: 280px;
  height: 56px;
  font-size: 14px;
  line-height: 120%;
  font-weight: 400;
  padding: 20px 16px;
  border: 1px solid #121212;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .footer__remind-input input {
    width: 100%;
    height: 48px;
  }
}
@media (max-width: 768px) {
  .footer__remind-button {
    width: 100%;
  }
}
.footer__remind-button button {
  width: 280px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
}
@media (max-width: 768px) {
  .footer__remind-button button {
    width: 100%;
    font-size: 14px;
    height: 48px;
  }
}
.footer__contact {
  flex: 0 0 25%;
  border-right: 1px solid #121212;
  padding: 40px;
}
@media (max-width: 1450px) {
  .footer__contact {
    flex: 0 0 50%;
    border-bottom: 1px solid #121212;
  }
}
@media (max-width: 768px) {
  .footer__contact {
    padding: 40px 16px;
    border-right: none;
  }
}
.footer__contact-title {
  font-size: 21px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 24px;
  color: #808080;
}
@media (max-width: 768px) {
  .footer__contact-title {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
.footer__contact-address {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .footer__contact-address {
    margin-bottom: 16px;
  }
}
.footer__contact-address-title {
  font-size: 14px;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 8px;
  color: #808080;
}
.footer__contact-address-street {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 768px) {
  .footer__contact-address-street {
    font-size: 14px;
  }
}
.footer__contact-phone {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .footer__contact-phone {
    margin-bottom: 16px;
  }
}
.footer__contact-phone-title {
  font-size: 14px;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 8px;
  color: #808080;
}
.footer__contact-phone-tel {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 768px) {
  .footer__contact-phone-tel {
    font-size: 14px;
  }
}
.footer__contact-email {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .footer__contact-email {
    margin-bottom: 16px;
  }
}
.footer__contact-email-title {
  font-size: 14px;
  line-height: 120%;
  font-weight: 400;
  margin-bottom: 8px;
  color: #808080;
}
.footer__contact-email-mail {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 768px) {
  .footer__contact-email-mail {
    font-size: 14px;
  }
}
.footer__contact-socials-title {
  font-size: 21px;
  font-weight: 500;
  line-height: 120%;
  color: #808080;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .footer__contact-socials-title {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
.footer__contact-socials-item {
  display: inline-block;
}
.footer__contact-socials-item:not(:last-child) {
  margin-right: 25px;
}
.footer__links {
  flex: 0 0 25%;
  border-right: 1px solid #121212;
  padding: 40px;
}
@media (max-width: 1450px) {
  .footer__links {
    flex: 0 0 50%;
  }
}
@media (max-width: 768px) {
  .footer__links {
    padding: 40px 16px;
    border-right: none;
    border-bottom: 1px solid #121212;
  }
}
.footer__links-shop-title {
  color: #808080;
  font-size: 21px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .footer__links-shop-title {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
.footer__links-shop-list {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .footer__links-shop-list {
    margin-bottom: 16px;
  }
}
.footer__links-shop-list-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 768px) {
  .footer__links-shop-list-item {
    font-size: 14px;
  }
}
.footer__links-shop-list-item:not(:last-child) {
  margin-bottom: 8px;
}
.footer__links-service-title {
  color: #808080;
  font-size: 21px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .footer__links-service-title {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
.footer__links-service-list-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 768px) {
  .footer__links-service-list-item {
    font-size: 14px;
  }
}
.footer__links-service-list-item:not(:last-child) {
  margin-bottom: 8px;
}
.footer__about {
  flex: 0 0 25%;
  padding: 40px;
}
@media (max-width: 1450px) {
  .footer__about {
    flex: 0 0 50%;
  }
}
@media (max-width: 768px) {
  .footer__about {
    padding: 40px 16px;
  }
}
.footer__about-title {
  color: #808080;
  font-size: 21px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .footer__about-title {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
.footer__about-blog {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .footer__about-blog {
    margin-bottom: 16px;
  }
}
.footer__about-blog-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 768px) {
  .footer__about-blog-item {
    font-size: 14px;
  }
}
.footer__about-blog-item:not(:last-child) {
  margin-bottom: 8px;
}
.footer__about-info-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 768px) {
  .footer__about-info-item {
    font-size: 14px;
  }
}
.footer__about-info-item:not(:last-child) {
  margin-bottom: 8px;
}

/*# sourceMappingURL=style.css.map */
