@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
  url('fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Gilroy-Regular.woff2') format('woff2'),
  url('fonts/Gilroy-Regular.woff') format('woff'),
  url('fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
  url('fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/Gilroy-Bold.woff2') format('woff2'),
  url('fonts/Gilroy-Bold.woff') format('woff'),
  url('fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Semibold.eot');
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
  url('fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
  url('fonts/Gilroy-Semibold.woff2') format('woff2'),
  url('fonts/Gilroy-Semibold.woff') format('woff'),
  url('fonts/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
  url('fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/Gilroy-Medium.woff2') format('woff2'),
  url('fonts/Gilroy-Medium.woff') format('woff'),
  url('fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-RegularItalic.eot');
  src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
  url('fonts/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('fonts/Gilroy-RegularItalic.woff2') format('woff2'),
  url('fonts/Gilroy-RegularItalic.woff') format('woff'),
  url('fonts/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

._container {
  font-family: Gilroy, sans-serif;
}

.nav {
  border: 1px solid #121212;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__left-side {
    flex: 0 0 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1450px) {
      flex: none;
      display: block;
    }
  }

  &__left-side-icon {
    display: block;
    padding: 22px 19px;
    width: 56px;
    height: 56px;
    border-right: 1px solid #121212;

    @media (max-width: 768px) {
      width: 48px;
      height: 48px;
      padding: 18px 15px;
    }
  }

  &__shop {
    flex: 0 1 50%;
    padding: 32px 0;
    text-align: center;
    border-right: 1px solid #121212;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
  }

  &__contact {
    flex: 0 1 50%;
    padding: 32px 0;
    text-align: center;
    border-right: 1px solid #121212;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
  }

  &__right-side {
    flex: 0 0 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1450px) {
      flex: none;
      display: block;
    }
  }

  &__right-side-icon {
    flex: none;
    display: block;
    width: 56px;
    height: 56px;
    padding: 16px;
    border-left: 1px solid #121212;

    @media (max-width: 768px) {
      width: 48px;
      height: 48px;
      padding: 12px;
    }
  }

  &__sign-in {
    flex: 0 1 50%;
    width: 100%;
    text-align: center;
    padding: 32px 0;
    border-left: 1px solid #121212;
    border-right: 1px solid #121212;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;

  }

  &__cart {
    flex: 0 1 50%;
    width: 100%;
    text-align: center;
    padding: 32px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
  }
}

.main {
  &__row {
    display: flex;

    @media (max-width: 1450px) {
      display: block;
    }
  }

  &__about {
    flex: 0 0 50%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #121212;
    border-top: none;

    @media (max-width: 768px) {
      padding: 40px 16px;
    }

    &-name {
      flex: 0 0 50%;
      border-bottom: 1px solid #121212;
    }

    &-title {
      font-size: 67px;
      font-weight: 600;
      line-height: 120%;
      margin: 0 0 16px 0;

      @media (max-width: 768px) {
        font-size: 40px;
      }
    }

    &-description {
      font-size: 18px;
      line-height: 140%;
      font-weight: 300;
      padding: 0 0 54px 0;

      @media (max-width: 768px) {
        padding: 0 0 24px 0;
      }
    }

    &-caption {
      flex: 0 0 50%;
      display: flex;
      align-items: flex-end;
    }

    &-img {
      flex: 0 0 50%;
      padding-right: 24px;
      margin-top: 24px;
      border-right: 1px solid #121212;

      img {
        width: 100%;
        height: auto;
      }
    }

    &-text {
      flex: 0 0 50%;
      margin-left: 24px;
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;

      @media (max-width: 768px) {
        font-size: 11px;
        margin-left: 16px;
      }
    }
  }

  &__show {
    flex: 0 0 50%;

    &-blocks {
      display: flex;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        border-left: 1px solid #121212;
      }
    }

    &-text {
      flex: 0 0 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      border-right: 1px solid #121212;
      border-bottom: 1px solid #121212;


    }

    &-text-title {
      font-size: 38px;
      font-weight: 500;
      line-height: 120%;

      @media (max-width: 768px) {
        font-size: 26px;
      }
    }

    &-text-button {
      position: absolute;
      bottom: 0;

      button {
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 120%;
        margin: 0 0 24px 0;

        @media (max-width: 768px) {
          font-size: 14px;
          margin: 0 0 12px 0;
        }

        img {
          padding: 0 4px;
          overflow: hidden;

          @media (max-width: 768px) {
            width: 24px;
            height: auto;
          }
        }
      }
    }

    &-image {
      flex: 0 0 50%;
      border-right: 1px solid #121212;
      border-bottom: 1px solid #121212;

      img {
        width: 100%;
      }
    }
  }

  &__empty {
    flex: 0 1 50%;
    border: 1px solid #121212;
    border-top: none;

    @media (max-width: 768px) {
      border: none;
    }
  }
}

.about {
  border: 1px solid #121212;
  border-top: none;

  &__container {
    display: flex;

    @media (max-width: 1450px) {
      display: block;
    }
  }

  &__title {
    flex: 0 0 50%;
    padding: 80px 80px;
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;
    border-right: 1px solid #121212;

    @media (max-width: 1450px) {
      border-bottom: 1px solid #121212;
    }

    @media (max-width: 768px) {
      padding: 40px 16px;
      font-size: 34px;
      border-right: none;
    }
  }

  &__description {
    flex: 0 0 50%;
    padding: 80px;

    @media (max-width: 768px) {
      padding: 40px 16px;
    }

    &-tip {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      line-height: 120%;
      margin-bottom: 24px;

      @media (max-width: 768px) {
        font-size: 12px;
      }
    }

    &-title {
      font-size: 38px;
      font-weight: 500;
      line-height: 120%;
      margin-bottom: 16px;

      @media (max-width: 768px) {
        font-size: 26px;
      }
    }

    &-text {
      font-size: 16px;
      line-height: 140%;
      font-weight: 400;
      margin-bottom: 64px;
    }

    &-button button {
      background-color: #fff;
      width: 175px;
      height: 56px;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
      text-align: center;
      text-transform: uppercase;
      border: 1px solid #121212;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.why-us {
  &__container {
    display: flex;
    border: 1px solid #121212;
    border-top: none;

    @media (max-width: 1450px) {
      display: block;
    }
  }

  &__title {
    flex: 1 1 50%;
    border-right: 1px solid #121212;
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;
    padding: 80px 80px;

    @media (max-width: 1450px) {
      border-bottom: 1px solid #121212;
    }

    @media (max-width: 768px) {
      padding: 40px 16px;
      font-size: 34px;
      border-right: none;
    }
  }

  &__advantages {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
  }

  &__item {
    flex: 1 1 25%;
    padding: 80px;
    border-bottom: 1px solid #121212;

    @media (max-width: 768px) {
      padding: 40px 16px;
    }
  }

  &__item-title {
    font-size: 38px;
    font-weight: 500;
    line-height: 120%;

    @media (max-width: 768px) {
      font-size: 26px;
      margin-bottom: 16px;
    }
  }

  &__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }

  &__last-item {
    border-bottom: none;
  }
}

.contact {
  &__container {
    display: flex;
    border: 1px solid #121212;
    border-top: none;

    @media (max-width: 1450px) {
      flex-direction: column-reverse;
    }
  }

  &__info {
    flex: 1 1 50%;
    border-right: 1px solid #121212;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      border-right: none;
    }
  }

  &__form {
    flex: 1 1 50%;
    padding: 80px 0 100px 80px;


    @media (max-width: 1450px) {
      padding: 80px;
    }

    @media (max-width: 768px) {
      padding: 40px 16px;
    }
  }

  &__form-title {
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 24px;

    @media (max-width: 768px) {
      font-size: 34px;
    }
  }

  &__form-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 16px;
  }

  &__form-phone {
    display: inline-block;
    margin: 0 16px 0 0;

    @media (max-width: 768px) {
      display: block;
      margin: 0 0 16px 0;
    }

    input {
      width: 250px;
      height: 56px;
      border: 1px solid #D2D2D7;
      font-size: 16px;
      padding: 10px;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &__form-button {
    display: inline-block;

    @media (max-width: 768px) {
      display: block;
    }

    button {
      width: 250px;
      height: 56px;
      background-color: #000;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &__address {
    display: flex;
    border-top: 1px solid #121212;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__address-phone {
    flex: 1 1 50%;
  }

  &__address-phone-title {
    font-size: 38px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid #121212;
    border-right: 1px solid #121212;

    @media (max-width: 768px) {
      font-size: 26px;
      text-align: left;
      padding: 16px;
      border-right: none;

    }
  }

  &__address-phone-tels {
    padding: 100px;
    border-right: 1px solid #121212;

    @media (max-width: 768px) {
      padding: 40px 16px;
      border-right: none;
    }
  }

  &__address-phone-tel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;

    @media (max-width: 768px) {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }

    img {
      padding: 0 5px 0 0;
    }
  }

  &__address-phone-tel:not(:last-child) {
    margin: 0 0 24px 0;
  }

  &__address-address {
    flex: 1 1 50%;
  }

  &__address-address-title {
    font-size: 38px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid #121212;

    @media (max-width: 768px) {
      padding: 16px;
      font-size: 26px;
      text-align: left;
      border-top: 1px solid #121212;
    }
  }

  &__address-address-text {
    margin: 100px 55px;

    @media (max-width: 768px) {
      margin: 40px 16px;
    }
  }

  &__address-address-open {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    padding: 0 0 22px 0;
    text-align: center;

    @media (max-width: 768px) {
      text-align: left;
      padding: 0 0 16px 0;
      font-size: 12px;
    }
  }

  &__address-address-street {
    display: flex;
    align-items: center;
    justify-content: center;

    &-text {
      font-size: 14px;
      font-weight: 500;
      line-height: 120%;
      text-align: center;
      display: inline-block;
      padding: 0 4px 0 0;

      @media (max-width: 768px) {
        font-size: 12px;
      }
    }

    @media (max-width: 768px) {
      justify-content: flex-start;
      img {
        width: 24px;
      }
    }
  }

  &__socials {
    flex: 0 1 50%;

    @media (max-width: 1450px) {
      border-bottom: 1px solid #121212;
    }

    &-img {
    }

    &-img img {
      width: 100%;

      @media (max-width: 1450px) {
        width: 100%;
        height: auto;
      }
    }

    &-list {
      display: flex;

      @media (max-width: 768px) {
        display: block;
      }
    }

    &-title {
      flex: 1 1 50%;
      padding: 16px 100px;
      font-size: 38px;
      font-weight: 500;
      line-height: 120%;
      text-align: center;
      border-right: 1px solid #121212;

      @media (max-width: 768px) {
        padding: 16px 0 8px 16px;
        font-size: 26px;
        text-align: left;
        border-right: none;
      }
    }

    &-links {
      padding: 0 40px;
      flex: 1 1 50%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      @media (max-width: 768px) {
        width: 70%;
        padding: 0 0 16px 16px;
        justify-content: space-between;
      }
    }

    &-link {

    }
  }

}

.service {
  &__container {
  }

  &__title {
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    padding: 80px 0;
    border: 1px solid #121212;
    border-top: none;

    @media (max-width: 768px) {
      padding: 40px 16px;
      text-align: left;
      font-size: 34px;
    }
  }

  &__subscriptions {
    display: flex;
    border: 1px solid #121212;
    border-top: none;

    @media (max-width: 1450px) {
      display: block;
    }

    &-img {
      flex: 0 0 50%;
      border-right: 1px solid #121212;

      @media (max-width: 1450px) {
        width: 100%;
        height: auto;
      }

      img {
        width: 100%;
        height: auto;

      }
    }

    &-info {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 80px;

      @media (max-width: 1450px) {
        padding: 80px;
      }

      @media (max-width: 768px) {
        padding: 40px 16px;
      }
    }

    &-info-tip {
      font-size: 14px;
      font-weight: 500;
      line-height: 120%;
      text-transform: uppercase;
      margin: 0 0 24px 0;

      @media (max-width: 768px) {
        font-size: 12px;
      }
    }

    &-info-title {
      font-size: 50px;
      font-weight: 600;
      line-height: 120%;
      margin: 0 0 16px 0;

      @media (max-width: 768px) {
        font-size: 34px;
      }
    }

    &-info-text {
      font-size: 18px;
      font-weight: 500;
      line-height: 140%;
      margin: 0 0 64px 0;
      text-align: center;

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }

    &-info-button {
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    &-info-button button {
      padding: 20px 24px;
      border: 1px solid #121212;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
      background-color: #fff;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &__wedding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 720px;
    background: url(../img/service/bg.png) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 0 427px;
    border: 1px solid #121212;
    border-top: none;

    @media (max-width: 1450px) {
      padding: 80px;
    }

    @media (max-width: 768px) {
      padding: 40px 16px;
      height: 420px;
    }

    &-tip {
      font-size: 14px;
      font-weight: 500;
      line-height: 120%;
      color: #ffffff;
      margin: 0 0 24px 0;
      text-transform: uppercase;

      @media (max-width: 768px) {
        font-size: 12px;
      }
    }

    &-title {
      font-size: 50px;
      font-weight: 600;
      line-height: 120%;
      color: #ffffff;
      margin: 0 0 16px 0;

      @media (max-width: 768px) {
        font-size: 34px;
        text-align: center;
      }
    }

    &-text {
      font-size: 18px;
      font-weight: 500;
      line-height: 140%;
      text-align: center;
      color: #ffffff;
      margin: 0 0 64px 0;

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
    &-button {
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    &-button button {
      padding: 20px 34px;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 120%;
      color: #ffffff;
      border: 1px solid #ffffff;
      background-color: transparent;

      @media (max-width: 768px) {
        font-size: 14px;
        padding: 18px 0;
        width: 100%;
      }
    }
  }
}

.reviews {
  border: 1px solid #121212;
  border-top: none;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    padding: 40px 16px;
  }

  &__tip {
    &-google {
      margin: 0 0 8px 0;

      @media (max-width: 768px) {
        width: 77px;
        height: auto;
      }
    }

    &-text {
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      line-height: 120%;
      margin: 0 0 24px 0;

      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
  }

  &__title {
    font-size: 50px;
    line-height: 120%;
    font-weight: 600;
    text-align: center;
    margin: 0 0 16px 0;

    @media (max-width: 768px) {
      font-size: 34px;
    }
  }

  &__review {
    display: flex;

    &-left {

      @media (max-width: 768px) {
        display: none;
      }
    }

    &-quote {
      padding: 0 24px;

      @media (max-width: 768px) {
        padding: 0;
      }
    }

    &-text {
      font-size: 30px;
      text-align: center;
      font-weight: 400;
      font-style: italic;
      line-height: 120%;
      margin: 0 0 16px 0;

      @media (max-width: 768px) {
        font-size: 22px;
      }
    }

    &-name {
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
      margin: 0 0 32px 0;
    }

    &-right {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__dots {
    margin: 0 0 64px 0;
  }

  &__button {
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__button button {
    padding: 20px 24px;
    border: 1px solid #121212;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 14px;
      width: 100%;
    }
  }
}

.footer {
  display: flex;
  border: 1px solid #121212;
  border-top: none;

  @media (max-width: 1450px) {
    flex-wrap: wrap;
  }

  @media (max-width: 768px) {
    display: block;
  }

  &__remind {
    flex: 0 0 25%;
    padding: 40px;
    border-right: 1px solid #121212;

    @media (max-width: 1450px) {
      flex: 0 0 50%;
      border-bottom: 1px solid #121212;
    }

    @media (max-width: 768px) {
      padding: 40px 16px;
      border-right: none;
    }

    &-text {
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      margin-bottom: 24px;
    }

    &-form {
      display: flex;
      flex-wrap: wrap;
    }

    &-input {
      margin: 0 10px 0 0;

      @media (max-width: 768px) {
        width: 100%;
        margin: 0;
      }
    }

    &-input input {
      width: 280px;
      height: 56px;
      font-size: 14px;
      line-height: 120%;
      font-weight: 400;
      padding: 20px 16px;
      border: 1px solid #121212;
      margin-bottom: 16px;

      @media (max-width: 768px) {
        width: 100%;
        height: 48px;
      }
    }

    &-button {
      @media (max-width: 768px) {
        width: 100%;
      }
    }

    &-button button {
      width: 280px;
      height: 56px;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #000000;

      @media (max-width: 768px) {
        width: 100%;
        font-size: 14px;
        height: 48px;
      }
    }
  }

  &__contact {
    flex: 0 0 25%;
    border-right: 1px solid #121212;
    padding: 40px;

    @media (max-width: 1450px) {
      flex: 0 0 50%;
      border-bottom: 1px solid #121212;
    }

    @media (max-width: 768px) {
      padding: 40px 16px;
      border-right: none;
    }

    &-title {
      font-size: 21px;
      font-weight: 500;
      line-height: 120%;
      margin-bottom: 24px;
      color: #808080;

      @media (max-width: 768px) {
        font-size: 18px;
        margin-bottom: 16px;
      }
    }

    &-address {
      margin-bottom: 24px;

      @media (max-width: 768px) {
        margin-bottom: 16px;
      }
    }

    &-address-title {
      font-size: 14px;
      line-height: 120%;
      font-weight: 400;
      margin-bottom: 8px;
      color: #808080;
    }

    &-address-street {
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }

    &-phone {
      margin-bottom: 24px;

      @media (max-width: 768px) {
        margin-bottom: 16px;
      }
    }

    &-phone-title {
      font-size: 14px;
      line-height: 120%;
      font-weight: 400;
      margin-bottom: 8px;
      color: #808080;
    }

    &-phone-tel {
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }

    &-email {
      margin-bottom: 24px;

      @media (max-width: 768px) {
        margin-bottom: 16px;
      }
    }

    &-email-title {
      font-size: 14px;
      line-height: 120%;
      font-weight: 400;
      margin-bottom: 8px;
      color: #808080;
    }

    &-email-mail {
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }

    &-socials {
    }

    &-socials-title {
      font-size: 21px;
      font-weight: 500;
      line-height: 120%;
      color: #808080;
      margin-bottom: 24px;

      @media (max-width: 768px) {
        font-size: 18px;
        margin-bottom: 16px;
      }
    }

    &-socials-list {
    }

    &-socials-item {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 25px;
      }
    }
  }

  &__links {
    flex: 0 0 25%;
    border-right: 1px solid #121212;
    padding: 40px;



    @media (max-width: 1450px) {
      flex: 0 0 50%;
    }

    @media (max-width: 768px) {
      padding: 40px 16px;
      border-right: none;
      border-bottom: 1px solid #121212;
    }

    &-shop {
    }

    &-shop-title {
      color: #808080;
      font-size: 21px;
      font-weight: 500;
      line-height: 120%;
      margin-bottom: 24px;

      @media (max-width: 768px) {
        font-size: 18px;
        margin-bottom: 16px;
      }
    }

    &-shop-list {
      margin-bottom: 24px;

      @media (max-width: 768px) {
        margin-bottom: 16px;
      }
    }

    &-shop-list-item {
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;

      @media (max-width: 768px) {
        font-size: 14px;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &-service {
    }

    &-service-title {
      color: #808080;
      font-size: 21px;
      font-weight: 500;
      line-height: 120%;
      margin-bottom: 24px;

      @media (max-width: 768px) {
        font-size: 18px;
        margin-bottom: 16px;
      }
    }

    &-service-list {
    }

    &-service-list-item {
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;

      @media (max-width: 768px) {
        font-size: 14px;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  &__about {
    flex: 0 0 25%;
    padding: 40px;

    @media (max-width: 1450px) {
      flex: 0 0 50%;
    }

    @media (max-width: 768px) {
      padding: 40px 16px;
    }

    &-title {
      color: #808080;
      font-size: 21px;
      font-weight: 500;
      line-height: 120%;
      margin-bottom: 24px;

      @media (max-width: 768px) {
        font-size: 18px;
        margin-bottom: 16px;
      }
    }

    &-blog {
      margin-bottom: 24px;

      @media (max-width: 768px) {
        margin-bottom: 16px;
      }
    }

    &-blog-item {
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;

      @media (max-width: 768px) {
        font-size: 14px;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &-info {
    }

    &-info-item {
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;

      @media (max-width: 768px) {
        font-size: 14px;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}