@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Regular.woff2") format("woff2"), url("fonts/Gilroy-Regular.woff") format("woff"), url("fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Bold.woff2") format("woff2"), url("fonts/Gilroy-Bold.woff") format("woff"), url("fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Semibold.woff2") format("woff2"), url("fonts/Gilroy-Semibold.woff") format("woff"), url("fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Medium.woff2") format("woff2"), url("fonts/Gilroy-Medium.woff") format("woff"), url("fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"), url("fonts/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-RegularItalic.woff2") format("woff2"), url("fonts/Gilroy-RegularItalic.woff") format("woff"), url("fonts/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
._container {
  font-family: Gilroy, sans-serif;
}

.nav {
  border: 1px solid #121212;
}
.nav__container {
  display: flex;
  justify-content: space-between;
}
.nav__left-side {
  flex: 0 0 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__shop {
  flex: 0 1 50%;
  padding: 32px 0;
  text-align: center;
  border-right: 1px solid #121212;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
.nav__contact {
  flex: 0 1 50%;
  padding: 32px 0;
  text-align: center;
  border-right: 1px solid #121212;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
.nav__right-side {
  flex: 0 0 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__sign-in {
  flex: 0 1 50%;
  width: 100%;
  text-align: center;
  padding: 32px 0;
  border-left: 1px solid #121212;
  border-right: 1px solid #121212;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
.nav__cart {
  flex: 0 1 50%;
  width: 100%;
  text-align: center;
  padding: 32px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.main__row {
  display: flex;
}
.main__about {
  flex: 0 0 50%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #121212;
  border-top: none;
}
.main__about-name {
  flex: 0 0 50%;
  border-bottom: 1px solid #121212;
}
.main__about-title {
  font-size: 67px;
  font-weight: 600;
  line-height: 120%;
  margin: 0 0 16px 0;
}
.main__about-description {
  font-size: 18px;
  line-height: 140%;
  font-weight: 300;
  padding: 0 0 54px 0;
}
.main__about-caption {
  flex: 0 0 50%;
  display: flex;
  align-items: flex-end;
}
.main__about-img {
  flex: 0 0 50%;
  width: 100%;
  padding-right: 24px;
  margin-top: 24px;
  border-right: 1px solid #121212;
}
.main__about-text {
  flex: 0 0 50%;
  margin-left: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}
.main__show {
  flex: 0 0 50%;
}
.main__show-blocks {
  display: flex;
  flex-wrap: wrap;
}
.main__show-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 0 0 50%;
  border-right: 1px solid #121212;
  border-bottom: 1px solid #121212;
}
.main__show-text-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 120%;
}
.main__show-text-button {
  position: absolute;
  bottom: 0;
}
.main__show-text-button button {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
}
.main__show-text-button button img {
  padding: 0 4px;
}
.main__show-image {
  width: 100%;
  flex: 0 0 50%;
  border-right: 1px solid #121212;
  border-bottom: 1px solid #121212;
}
.main__show-image img {
  width: 100%;
}
.main__empty {
  flex: 0 1 50%;
  border: 1px solid #121212;
  border-top: none;
}

.about {
  border: 1px solid #121212;
  border-top: none;
}
.about__container {
  display: flex;
}
.about__title {
  flex: 0 0 50%;
  padding: 80px 0 0 80px;
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
  border-right: 1px solid #121212;
}
.about__description {
  flex: 0 0 50%;
  padding: 80px;
}
.about__description-tip {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 24px;
}
.about__description-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 16px;
}
.about__description-text {
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  margin-bottom: 64px;
}
.about__description-button button {
  background-color: #fff;
  width: 175px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #121212;
}

.why-us__container {
  display: flex;
  border: 1px solid #121212;
  border-top: none;
}
.why-us__title {
  flex: 1 1 50%;
  border-right: 1px solid #121212;
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
  padding: 80px 80px;
}
.why-us__advantages {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}
.why-us__item {
  flex: 1 1 25%;
  padding: 80px;
  border-bottom: 1px solid #121212;
}
.why-us__item-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 120%;
}
.why-us__item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.why-us__last-item {
  border-bottom: none;
}

.contact__container {
  display: flex;
  border: 1px solid #121212;
  border-top: none;
}
.contact__info {
  flex: 1 1 50%;
  border-right: 1px solid #121212;
  display: flex;
  flex-direction: column;
}
.contact__form {
  flex: 1 1 50%;
  padding: 80px 0 100px 80px;
}
.contact__form-title {
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 24px;
}
.contact__form-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 16px;
}
.contact__form-phone {
  display: inline-block;
  margin: 0 16px 0 0;
}
.contact__form-phone input {
  width: 250px;
  height: 56px;
  border: 1px solid #D2D2D7;
  font-size: 16px;
  padding: 10px;
}
.contact__form-button {
  display: inline-block;
}
.contact__form-button button {
  width: 250px;
  height: 56px;
  background-color: #000;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.contact__address {
  display: flex;
  border-top: 1px solid #121212;
}
.contact__address-phone {
  flex: 1 1 50%;
}
.contact__address-phone-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  padding: 16px 0;
  border-bottom: 1px solid #121212;
  border-right: 1px solid #121212;
}
.contact__address-phone-tels {
  padding: 100px;
  border-right: 1px solid #121212;
}
.contact__address-phone-tel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
}
.contact__address-phone-tel img {
  padding: 0 5px 0 0;
}
.contact__address-phone-tel:not(:last-child) {
  margin: 0 0 24px 0;
}
.contact__address-address {
  flex: 1 1 50%;
}
.contact__address-address-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  padding: 16px 0;
  border-bottom: 1px solid #121212;
}
.contact__address-address-text {
  margin: 100px 55px;
}
.contact__address-address-open {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  padding: 0 0 22px 0;
  text-align: center;
}
.contact__address-address-street {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
}
.contact__socials {
  flex: 0 1 50%;
}
.contact__socials-img img {
  width: 100%;
}
.contact__socials-list {
  display: flex;
}
.contact__socials-title {
  flex: 1 1 50%;
  padding: 16px 100px;
  font-size: 38px;
  font-weight: 500;
  line-height: 120%;
  border-right: 1px solid #121212;
}
.contact__socials-links {
  padding: 0 40px;
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.service__title {
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  padding: 80px 0;
  border: 1px solid #121212;
  border-top: none;
}
.service__subscriptions {
  display: flex;
  border: 1px solid #121212;
  border-top: none;
}
.service__subscriptions-img {
  flex: 0 0 50%;
  border-right: 1px solid #121212;
}
.service__subscriptions-img img {
  width: 100%;
}
.service__subscriptions-info {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 80px;
}
.service__subscriptions-info-tip {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}
.service__subscriptions-info-title {
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
  margin: 0 0 16px 0;
}
.service__subscriptions-info-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  margin: 0 0 64px 0;
  text-align: center;
}
.service__subscriptions-info-button button {
  padding: 20px 24px;
  border: 1px solid #121212;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  background-color: #fff;
}
.service__wedding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 720px;
  background: url(../img/service/bg.png) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 0 427px;
  border: 1px solid #121212;
  border-top: none;
}
.service__wedding-tip {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  color: #ffffff;
  margin: 0 0 24px 0;
  text-transform: uppercase;
}
.service__wedding-title {
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
  color: #ffffff;
  margin: 0 0 16px 0;
}
.service__wedding-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  color: #ffffff;
  margin: 0 0 64px 0;
}
.service__wedding-button button {
  padding: 20px 34px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 120%;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
}

/*# sourceMappingURL=style.css.map */
