@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
  url('fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Gilroy-Regular.woff2') format('woff2'),
  url('fonts/Gilroy-Regular.woff') format('woff'),
  url('fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
  url('fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/Gilroy-Bold.woff2') format('woff2'),
  url('fonts/Gilroy-Bold.woff') format('woff'),
  url('fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Semibold.eot');
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
  url('fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
  url('fonts/Gilroy-Semibold.woff2') format('woff2'),
  url('fonts/Gilroy-Semibold.woff') format('woff'),
  url('fonts/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
  url('fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/Gilroy-Medium.woff2') format('woff2'),
  url('fonts/Gilroy-Medium.woff') format('woff'),
  url('fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-RegularItalic.eot');
  src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
  url('fonts/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('fonts/Gilroy-RegularItalic.woff2') format('woff2'),
  url('fonts/Gilroy-RegularItalic.woff') format('woff'),
  url('fonts/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

._container {
  font-family: Gilroy, sans-serif;
}

.nav {
  border: 1px solid #121212;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__left-side {
    flex: 0 0 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__shop {
    flex: 0 1 50%;
    padding: 32px 0;
    text-align: center;
    border-right: 1px solid #121212;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
  }

  &__contact {
    flex: 0 1 50%;
    padding: 32px 0;
    text-align: center;
    border-right: 1px solid #121212;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
  }

  &__right-side {
    flex: 0 0 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__sign-in {
    flex: 0 1 50%;
    width: 100%;
    text-align: center;
    padding: 32px 0;
    border-left: 1px solid #121212;
    border-right: 1px solid #121212;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;

  }

  &__cart {
    flex: 0 1 50%;
    width: 100%;
    text-align: center;
    padding: 32px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
  }
}

.main {
  &__row {
    display: flex;
  }

  &__about {
    flex: 0 0 50%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #121212;
    border-top: none;

    &-name {
      flex: 0 0 50%;
      border-bottom: 1px solid #121212;
    }

    &-title {
      font-size: 67px;
      font-weight: 600;
      line-height: 120%;
      margin: 0 0 16px 0;
    }

    &-description {
      font-size: 18px;
      line-height: 140%;
      font-weight: 300;
      padding: 0 0 54px 0;
    }

    &-caption {
      flex: 0 0 50%;
      display: flex;
      align-items: flex-end;
    }

    &-img {
      flex: 0 0 50%;
      width: 100%;
      padding-right: 24px;
      margin-top: 24px;
      border-right: 1px solid #121212;
    }

    &-text {
      flex: 0 0 50%;
      margin-left: 24px;
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__show {
    flex: 0 0 50%;

    &-blocks {
      display: flex;
      flex-wrap: wrap;
    }

    &-text {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      flex: 0 0 50%;
      border-right: 1px solid #121212;
      border-bottom: 1px solid #121212;
    }

    &-text-title {
      font-size: 38px;
      font-weight: 500;
      line-height: 120%;
    }

    &-text-button {
      position: absolute;
      bottom: 0;

      button {
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 120%;

        img {
          padding: 0 4px;
        }
      }
    }

    &-image {
      width: 100%;
      flex: 0 0 50%;
      border-right: 1px solid #121212;
      border-bottom: 1px solid #121212;

      img {
        width: 100%;
      }
    }
  }

  &__empty {
    flex: 0 1 50%;
    border: 1px solid #121212;
    border-top: none;
  }
}

.about {
  border: 1px solid #121212;
  border-top: none;

  &__container {
    display: flex;
  }

  &__title {
    flex: 0 0 50%;
    padding: 80px 0 0 80px;
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;
    border-right: 1px solid #121212;
  }

  &__description {
    flex: 0 0 50%;
    padding: 80px;

    &-tip {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      line-height: 120%;
      margin-bottom: 24px;
    }

    &-title {
      font-size: 38px;
      font-weight: 500;
      line-height: 120%;
      margin-bottom: 16px;
    }

    &-text {
      font-size: 16px;
      line-height: 140%;
      font-weight: 400;
      margin-bottom: 64px;
    }

    &-button button {
      background-color: #fff;
      width: 175px;
      height: 56px;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
      text-align: center;
      text-transform: uppercase;
      border: 1px solid #121212;
    }
  }
}

.why-us {
  &__container {
    display: flex;
    border: 1px solid #121212;
    border-top: none;
  }

  &__title {
    flex: 1 1 50%;
    border-right: 1px solid #121212;
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;
    padding: 80px 80px;
  }

  &__advantages {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
  }

  &__item {
    flex: 1 1 25%;
    padding: 80px;
    border-bottom: 1px solid #121212;
  }

  &__item-title {
    font-size: 38px;
    font-weight: 500;
    line-height: 120%;
  }

  &__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }

  &__last-item {
    border-bottom: none;
  }
}

.contact {
  &__container {
    display: flex;
    border: 1px solid #121212;
    border-top: none;
  }

  &__info {
    flex: 1 1 50%;
    border-right: 1px solid #121212;
    display: flex;
    flex-direction: column;
  }

  &__form {
    flex: 1 1 50%;
    padding: 80px 0 100px 80px;
  }

  &__form-title {
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 24px;
  }

  &__form-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 16px;
  }

  &__form-phone {
    display: inline-block;
    margin: 0 16px 0 0;

    input {
      width: 250px;
      height: 56px;
      border: 1px solid #D2D2D7;
      font-size: 16px;
      padding: 10px;
    }
  }

  &__form-button {
    display: inline-block;

    button {
      width: 250px;
      height: 56px;
      background-color: #000;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
    }
  }

  &__address {
    display: flex;
    border-top: 1px solid #121212;
  }
  &__address-phone {
    flex: 1 1 50%;
  }
  &__address-phone-title {
    font-size: 38px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid #121212;
    border-right: 1px solid #121212;
  }
  &__address-phone-tels {
    padding: 100px;
    border-right: 1px solid #121212;
  }

  &__address-phone-tel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;

    img {
      padding: 0 5px 0 0;
    }
  }

  &__address-phone-tel:not(:last-child) {
    margin: 0 0 24px 0;
  }

  &__address-address {
    flex: 1 1 50%;
  }
  &__address-address-title {
    font-size: 38px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid #121212;

  }

  &__address-address-text {
    margin: 100px 55px;
  }

  &__address-address-open {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    padding: 0 0 22px 0;
    text-align: center;

  }
  &__address-address-street {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
  }

  &__socials {
    flex: 0 1 50%;

    &-img img {
      width: 100%;
    }
    &-list {
      display: flex;
    }
    &-title {
      flex: 1 1 50%;
      padding: 16px 100px;
      font-size: 38px;
      font-weight: 500;
      line-height: 120%;
      border-right: 1px solid #121212;
    }
    &-links {
      padding: 0 40px;
      flex: 1 1 50%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    &-link {

    }
  }

}

.service {
  &__container {}
  &__title {
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    padding: 80px 0;
    border: 1px solid #121212;
    border-top: none;
  }
  &__subscriptions {
    display: flex;
    border: 1px solid #121212;
    border-top: none;
    &-img {
      flex: 0 0 50%;
      border-right: 1px solid #121212;
      img {
        width: 100%;
      }
    }
    &-info {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 80px;
    }
    &-info-tip {
      font-size: 14px;
      font-weight: 500;
      line-height: 120%;
      text-transform: uppercase;
      margin: 0 0 24px 0;
    }
    &-info-title {
      font-size: 50px;
      font-weight: 600;
      line-height: 120%;
      margin: 0 0 16px 0;
    }
    &-info-text {
      font-size: 18px;
      font-weight: 500;
      line-height: 140%;
      margin: 0 0 64px 0;
      text-align: center;
    }
    &-info-button button {
      padding: 20px 24px;
      border: 1px solid #121212;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
      background-color: #fff;
    }
  }
  &__wedding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 720px;
    background: url(../img/service/bg.png) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 0 427px;
    border: 1px solid #121212;
    border-top: none;

    &-tip {
      font-size: 14px;
      font-weight: 500;
      line-height: 120%;
      color: #ffffff;
      margin: 0 0 24px 0;
      text-transform: uppercase;
    }
    &-title {
      font-size: 50px;
      font-weight: 600;
      line-height: 120%;
      color: #ffffff;
      margin: 0 0 16px 0;
    }
    &-text {
      font-size: 18px;
      font-weight: 500;
      line-height: 140%;
      color: #ffffff;
      margin: 0 0 64px 0;
    }
    &-button button{
      padding: 20px 34px;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 120%;
      color: #ffffff;
      border: 1px solid #ffffff;
      background-color: transparent;
    }
  }
}

.reviews {
  border: 1px solid #121212;
  border-top: none;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__tip {
    &-google {
      margin: 0 0 8px 0;
    }
    &-text {
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      line-height: 120%;
      margin: 0 0 24px 0;
    }
  }

  &__title {
    font-size: 50px;
    line-height: 120%;
    font-weight: 600;
    text-align: center;
    margin: 0 0 16px 0;
  }
  &__review {
    display: flex;
    &-left {}
    &-quote {
      padding: 0 24px;
    }
    &-text {
      font-size: 30px;
      text-align: center;
      font-weight: 400;
      font-style: italic;
      line-height: 120%;
      margin: 0 0 16px 0;
    }
    &-name {
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
      margin: 0 0 32px 0;
    }
    &-right {}
  }

  &__dots {
    margin: 0 0 64px 0;
  }
  &__button button {
    padding: 20px 24px;
    border: 1px solid #121212;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
  }
}

.footer {
  display: flex;
  border: 1px solid #121212;
  border-top: none;

  &__remind {
    flex: 0 0 25%;
    padding: 40px;
    border-right: 1px solid #121212;

    &-text {
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      margin-bottom: 24px;
    }
    &-input input{
      width: 280px;
      height: 56px;
      font-size: 14px;
      line-height: 120%;
      font-weight: 400;
      padding: 20px 16px;
      border: 1px solid #121212;
      margin-bottom: 16px;
    }
    &-button button {
      width: 280px;
      height: 56px;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #000000;
    }
  }

  &__contact {
    flex: 0 0 25%;
    border-right: 1px solid #121212;
    padding: 40px;

    &-title {
      font-size: 21px;
      font-weight: 500;
      line-height: 120%;
      margin-bottom: 24px;
      color: #808080;
    }

    &-address {
      margin-bottom: 24px;
    }
    &-address-title {
      font-size: 14px;
      line-height: 120%;
      font-weight: 400;
      margin-bottom: 8px;
      color: #808080;
    }
    &-address-street {
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
    }

    &-phone {
      margin-bottom: 24px;
    }
    &-phone-title {
      font-size: 14px;
      line-height: 120%;
      font-weight: 400;
      margin-bottom: 8px;
      color: #808080;
    }
    &-phone-tel {
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
    }

    &-email {
      margin-bottom: 24px;
    }
    &-email-title {
      font-size: 14px;
      line-height: 120%;
      font-weight: 400;
      margin-bottom: 8px;
      color: #808080;
    }
    &-email-mail {
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
    }

    &-socials {}
    &-socials-title {
      font-size: 21px;
      font-weight: 500;
      line-height: 120%;
      color: #808080;
      margin-bottom: 24px;
    }
    &-socials-list {
    }
    &-socials-item {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 25px;
      }
    }
  }

  &__links {
    flex: 0 0 25%;
    border-right: 1px solid #121212;
    padding: 40px;

    &-shop {}
    &-shop-title {
      color: #808080;
      font-size: 21px;
      font-weight: 500;
      line-height: 120%;
      margin-bottom: 24px;
    }
    &-shop-list {
      margin-bottom: 24px;
    }
    &-shop-list-item {
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &-service {}
    &-service-title {
      color: #808080;
      font-size: 21px;
      font-weight: 500;
      line-height: 120%;
      margin-bottom: 24px;
    }
    &-service-list {}
    &-service-list-item {
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  &__about {
    flex: 0 0 25%;
    padding: 40px;

    &-title {
      color: #808080;
      font-size: 21px;
      font-weight: 500;
      line-height: 120%;
      margin-bottom: 24px;
    }
    &-blog {
      margin-bottom: 24px;
    }
    &-blog-item {
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
    &-info {}
    &-info-item {
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}